@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.grad {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 4%,
    rgba(255, 255, 255, 0) 46%
  );
}

#products {
  width: 90%;
  max-width: 70rem;
  list-style: none;
  margin: 2rem auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
}

.meal-item {
  background-color: #109648;
  border-radius: 1rem;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}

.meal-item-home {
  background-color: #0071dc;
  border-radius: 1rem;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}

.meal-item article,
.meal-item-home article {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.meal-item img,
.meal-item-home img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.meal-item h3,
.meal-item-home h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.75rem 0;
  color: #d3efdf;
}

.meal-item-home h3 {
  color: #ffc404;
}

.meal-item-description,
.meal-item-description-home {
  margin: 1rem;
  color: #000;
  font-weight: 500;
}

.meal-item-description-home {
  color: #fff;
}

.meal-item-price {
  display: inline-block;
  background-color: #023417;
  color: #ffc220;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
  margin: 0;
  border-radius: 4px;
}

.meal-item-price-home {
  display: inline-block;
  background-color: #0a3c6b;
  color: #fad366;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
  margin: 0;
  border-radius: 4px;
}

.meal-item-actions {
  margin-bottom: 1.5rem;
}

.button {
  font: inherit;
  cursor: pointer;
  background-color: #ffc404;
  border: 1px solid #ffc404;
  color: #023417;
  font-weight: 500;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.button:hover,
.button:active {
  background-color: #ffab04;
  border-color: #ffab04;
  color: #1f1a09;
}
